#gallery {
    min-width: 300px;
    height: 500px;
    border: 2px solid hsl(180, 1%, 41%);
    justify-items: space-around;
    align-items: center;

    #products {
        align-self: center;
    }
}