.products {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8px;
    border: 2px solid hsl(0,0%,1%); //For a better view of the element
    font-size: small;
    min-width: 50px;
    max-width: 200px;
    min-height: 60px;
    overflow: hidden;

    img {
        display: block;
        min-width: 50px;
        min-height: 50px;
        border-radius: 15px;
    }

    .product-stats {
        display: grid;

        h3 {
            display: inline-flex;
            justify-content: space-between;
            text-align: left;
            margin-top: 8px;
            margin-bottom: 12px;

            span {
                text-decoration: underline;
                margin-right: 10px;
            }
        }

        p {
            margin-top: 0px;
            margin-bottom: 3px;
        }

        button {
            text-decoration: none;
            color: hsl(180, 100%, 97%);
            background-color: hsl(231, 76%, 42%);
            border: none;
            border-radius: 5px;
            margin-top: 3px;
            //height: 20px;
            transition: all 1s;

            a {
                text-decoration: none;
                color: hsl(180, 100%, 97%);
            }
        }
        button:hover {
            background-color: hsl(240, 51%, 45%);
            box-shadow: 3px 3px 4px hsla(0, 0%, 0%, 0.773);
            
            a {
                color: hsl(237, 25%, 65%);
            }
        }
    }
}